<div class="container">
   <div class="jumbotron p-4 p-md-5 text-white rounded bg-secondary">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">From Social Shut-in to Conference Speaker</h1>
      <p class="lead my-3">How I went from not leaving the house or answering the phone to speaking at conferences(even internationally).</p>
      <p class="lead mb-0"><a href="/blogs/from-social-shut-in-to-conference-speaker" class="text-white font-weight-bold">Continue reading...</a></p>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Rails Development</strong>
          <h3 class="mb-0">Featured post</h3>
          <div class="mb-1 text-muted">June 12, 2019</div>
          <p class="card-text mb-auto">A look at my experience learning Rails.</p>
          <a href="/blogs/my-first-rails-project" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">Design</strong>
          <h3 class="mb-0">UX Resources</h3>
          <div class="mb-1 text-muted">June 12, 2019</div>
          <p class="mb-auto">A list of great UX resources.</p>
          <a href="/blogs/ux-resources" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        
        </div>
      </div>
    </div>
  </div>
</div>
 <div class="col-md-8 blog-main">
<!--
  <h3 class="pb-4 mb-4 font-italic border-bottom">
    
  </h3>
-->
    <%= render @blogs %>
   <!-- /.blog-post -->
    <%= paginate @blogs %>

</div>

