<footer class="blog-footer">
        <div class="text-center">
            <%= copyright_generator %>    
        </div>
        <p>
            <a href="#">Back to top <%= fa_icon "chevron-up" %></a>
        </p>
  
    </footer>