<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">My Portfolio</h1>
      <p class="lead text-muted">Some examples of my most recent projects.</p>
      <p>
      <%= link_to 'Find Out More About Me', about_me_path,Class: 'btn btn-primary my-2' %>
      <%= link_to 'My Blog', blogs_path,Class: 'btn btn-secondary my-2' %>
      </p>
    </div>
  </section>