<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top <%= fa_icon "chevron-up" %></a>
    </p>
    <div class="">
        <%= copyright_generator %>    
    </div>
  </div>
</footer>