<footer class="text-muted">
  <div class="container">
   <div class="row">
    <p class="center-text">
     <%= link_to 'View All Portfolio Items', portfolios_path %> / 
      <a href="#">Back to top <%= fa_icon "chevron-up" %></a>
    </p>
    </div>
    <div class="row">
        <p class="center-text"><%= copyright_generator %></p>   
    </div>
  </div>
</footer>
