@import "bootstrap";
@import "font-awesome";
@import "jquery-ui";
@import "gritter";
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
//Custom Styles
footer i {
    font-size:2.5em;
}
.navbar-brand img {
    width:1em;
    margin-right: 10px;
}

.portfolio-container {
    padding-top: 30px;
}
.card img {
    max-width:100%;
}
.portfolio-source a {
    color:#fff;
    font-weight:700;
}
.portfolio-source {
    margin-top: 20px;
}
.center-text {
    margin: 0 auto!important;
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
input, p,
select {
    font-family: 'Merriweather', serif;   
}
body {
    font-family: 'Merriweather', serif; 
}